body{
    font-size: 15px;
    background-color: cornsilk;
    color: brown;
    font-family: sans-serif;
}
#header-nav{
    background-color: cadetblue;
    border-radius: 0;
    border: 0;
    padding-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
}
.navbar-brand{
    padding-top: 15px;
    margin-left: 0;
}
.navbar-brand h1{
    color: black;
    font-size: 1.em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #808080;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
#nav-list{
    margin-top: 10px;
    margin-bottom: 0;
}
#nav-list a{
    color:darkred;
    text-align: center;
    font-size: 1.4em;
}
#nav-list a:hover{
    background-color: azure;
}
#main-content h1{
    margin-bottom: 20px;
    color: darkblue;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px #808080;
}
section{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    font-size: 1.5em;
}
h2{
    text-align: center;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: black; 
}
