*{
	box-sizing: border-box;
    }
body{
    background-color: cornsilk;
    margin: 5px;
}

h1{
	padding: 10px;
    margin-bottom: 15px;
	text-align: center;
	font-family: Helvetica;
    color: darkcyan;
}
h2{
    text-align: center;
    width: 100px;
    height: auto;
    background-color: coral;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid black;
}
#h1{
    background-color: brown;
}
#h3{
    background-color: cornflowerblue;
}
section{
    margin: 10px;
    width: relative;
    position: relative;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: grey;
	font-family: Times New Roman;
	color: white;
    border: 1px solid black;

}
.row{
	width: 100%;
}
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-DS-11 {
    width: 91.66%;
  }
  .col-DS-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-TB-1, .col-TB-2, .col-TB-3, .col-TB-4, .col-TB-5, .col-TB-6, .col-TB-7, .col-TB-8, .col-TB-9, .col-TB-10, .col-TB-11, .col-TB-12 {
    float: left;
      margin-bottom: 20px;
  }
  
#sec3{
    width: absolute;
    height: auto;
}
    
  .col-TB-1 {
    width: 8.33%;
  }
  .col-TB-2 {
    width: 16.66%;
  }
  .col-TB-3 {
    width: 25%;
  }
  .col-TB-4 {
    width: 33.33%;
  }
  .col-TB-5 {
    width: 41.66%;
  }
  .col-TB-6 {
    width: 50%;
  }
  .col-TB-7 {
    width: 58.33%;
  }
  .col-TB-8 {
    width: 66.66%;
  }
  .col-TB-9 {
    width: 74.99%;
  }
  .col-TB-10 {
    width: 83.33%;
  }
  .col-TB-11 {
    width: 91.66%;
  }
  .col-TB-12 {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .col-MB-1, .col-MB-2, .col-MB-3, .col-MB-4, .col-MB-5, .col-MB-6, .col-MB-7, .col-MB-8, .col-MB-9, .col-MB-10, .col-MB-11, .col-MB-12 {
    float: left;
    margin-bottom:  20px;
  }
    #sec1{
        height: auto;
    }
    #sec2{
        height: auto;
    }
    #sec3{
        height: auto;
    }
  .col-MB-1 {
    width: 8.33%;
  }
  .col-MB-2 {
    width: 16.66%;
  }
  .col-MB-3 {
    width: 25%;
  }
  .col-MB-4 {
    width: 33.33%;
  }
  .col-MB-5 {
    width: 41.66%;
  }
  .col-MB-6 {
    width: 50%;
  }
  .col-MB-7 {
    width: 58.33%;
  }
  .col-MB-8 {
    width: 66.66%;
  }
  .col-MB-9 {
    width: 74.99%;
  }
  .col-MB-10 {
    width: 83.33%;
  }
  .col-MBd-11 {
    width: 91.66%;
  }
  .col-MB-12 {
    width: 100%;
  }
}